body{
  font-family: 'Noto Sans KR', sans-serif;
}

h1{
  font-size: 50px;
}
.Name-Highlight{
  color: rgb(153, 22, 22);
}
.Half-Width{
  width: 40%;
  float:left;
  margin-left: 5%;
  padding-left: 2%;


}
.Half-Width img{
  width: 100%;
}